@page "/Counter"
@using Microsoft.AspNetCore.Components.Web

<div class="col-sm-6 border" style="text-align:center;">
    <button @onclick="async (args) => { await Task.Delay(100); if (args.CtrlKey) counter += 10; else counter++; }">+</button>
    <span>@counter</span>
    <button @onclick="async (MouseEventArgs args) => { await Task.Delay(100); if (args.CtrlKey) counter -= 10; else counter--; }">-</button>
</div>
