@page "/Templated"
@typeparam TItem

<div class="col-sm-6 border">
    <h1>@Header</h1>

    <ol>
        @foreach (var item in Items)
        {
            <li>
                @Main(item)
            </li>
        }

    </ol>

    <footer>
        @Footer
    </footer>
</div>
